.about {
  position: relative;
  padding-top: 100px;
  top: -100px;
  width: 100%;
  color: #c5c6c7;
  display: flex;
  justify-content: center;
}

.about-title {
  margin-bottom: 50px;
  transform: translateX(120px);
}

.about-welcome {
  background-color: #45a29e;
  padding: 20px;
  max-width: 30vw;
}

.about-goals {
  background-color: #1f2833;
  padding: 20px;
  max-width: 30vw;
  margin-left: 20vw;
  margin-top: -20px;
}

.about-education {
  background-color: #45a29e;
  padding: 20px;
  max-width: 30vw;
  margin-top: -10px;
}

.about-TBD {
  background-color: #1f2833;
  max-width: 30vw;
  margin-left: 20vw;
  padding: 20px;
  margin-top: -7px;
}
