.navbar {
  padding: 10px;
  margin: 20px 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  color: #66fcf1;
  text-align: center;
}

.navbar-logo-svg {
  width: 30px;
  height: 30px;
}

.navbar-link-list {
  list-style: none;
  /* color: #66fcf1; */
  color: #ffffff;
  display: flex;
}

.navbar-link-list li a {
  padding: 5px;
}
.navbar-link-list li a span {
  font-size: 16px;
  color: #66fcf1;
}

.navbar-link-notactive {
  display: block;
  margin: 0px 20px;
  transform: translateY(0px);
}

.navbar-link-notactive:hover {
  color: #66fcf1;
  text-shadow: 1px 1px 2px #c5c6c7;
  transform: translateY(-2px);
}

.navbar-link-active {
  display: block;
  color: #66fcf1;
  margin: 0px 20px;
  transform: translateY(-2px);
  text-shadow: 1px 1px 2px #c5c6c7;
}
