.social {
  position: fixed;
  bottom: 0;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.social-icon {
  background-color: rgba(69, 162, 158, 0.4);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px 0;
}
.social-icon svg {
  width: 17px;
  height: 17px;
  color: white;
}

.social-bar {
  width: 1px;
  height: 100px;
  background-color: rgba(69, 162, 158, 0.4);
  margin-top: 15px;
}

.social-bar-right {
  position: fixed;
  right: 5%;
  bottom: 0;
  width: 1px;
  height: 100px;
  background-color: rgba(69, 162, 158, 0.4);
  margin-top: 15px;
}

.social-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0.2px 0.2px 2px #66fcf1;
}

.social-icon:hover svg {
  color: #66fcf1;
}

@media screen and (max-width: 768px) {
  .social-bar-right {
    display: none;
  }
}
